VITE_API_BASE_URL=http://127.0.0.1:3002

VITE_HOTELS_ENDPOINT=/hotels
VITE_HOTEL_SEARCH_ENDPOINT=/search
VITE_HOTEL_FILTER_ENDPOINT=/filter
VITE_PRICE_ALERT_ENDPOINT=/alerts

VITE_AUTH_LOGIN_ENDPOINT=/login
VITE_AUTH_SIGNUP_ENDPOINT=/signup

VITE_BOOKINGS_ENDPOINT=/bookings
VITE_FAVORITES_ENDPOINT=/favorites